<div id="content">
  <h2>
    <ul>
      <li>Register</li>
      <br>
      <li>Refer some friends to earn points</li>
      <br>
      <li>Start tagging yourself as you travel from state to state</li>
    </ul>
  </h2>
</div>
<div id="places_ive_been">
  <%= image_tag "fun_map.png" %>>
</div>