<link rel="stylesheet" type="text/css" href="root.css">

<div id="works>">
      <div style="color: #00ffa5; text-align: left;">
        You sign up with GoHuntGeo
        <br>
        <br>
        <ul>
        <li>You start tagging yourself in different states and earning points</li>
        <li>You send invites to your friends to earn points</li>
        <li>You are almost done traveling the US but cannot travel to Alaska, so you expenses it with the points you
          earn and instead of the state color changing to teal, it will turn to pink to mark that you expensed it
        </li>
        <li>You get a special reward after completing the US challenge</li>
        <li>You wait for GoHuntGeo to rollout more travel challenges within the US and also for GoHuntGeo to release
          other continent challenges</li>
        </ul>
        </div
</div>